<div class="components-header item">
    <span class="name">{{localize "ANVIL_AND_ARCANA.Recipe.SuccessResultHeader"}}</span>
</div>

<div id="success-result" class="craft-items-section">
    <ol class="inventory-list result-container craft-items-list">
        {{#if results.success}}
        <div class="craft-item" data-id="{{results.success.id}}" data-item-id="{{results.success.id}}">
            <div class="item-content">
                <div class="item-body">
                    <div class="item-icon" style="background-image: url({{results.success.img}})"></div>
                    <a>{{results.success.name}}</a>
                </div>
                <div class="craft-item-controls">
                    <a id="success-result-remove" class="item-control" title="{{localize 'SHEET.DeleteItem'}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <p class="items-placeholder">{{localize "ANVIL_AND_ARCANA.Recipe.SuccessResultPlaceholder"}}</p>
        {{/if}}
    </ol>
</div>

<div class="components-header item">
    <span class="name">{{localize "ANVIL_AND_ARCANA.Recipe.FailResultHeader"}}</span>
</div>

<div id="fail-result" class="craft-items-section">
    <ol class="inventory-list result-container craft-items-list">
        {{#if results.fail}}
        <div class="craft-item" data-id="{{results.fail.id}}" data-item-id="{{results.fail.id}}">
            <div class="item-content">
                <div class="item-body">
                    <div class="item-icon" style="background-image: url({{results.fail.img}})"></div>
                    <a>{{results.fail.name}}</a>
                </div>
                <div class="craft-item-controls">
                    <a id="fail-result-remove" class="item-control" title="{{localize 'SHEET.DeleteItem'}}">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
        {{else}}
        <p class="items-placeholder">{{localize "ANVIL_AND_ARCANA.Recipe.FailResultPlaceholder"}}</p>
        {{/if}}
    </ol>
</div>

<div class="components-header item">
    <span class="name">{{localize "ANVIL_AND_ARCANA.Recipe.ComponentsHeader"}}</span>
</div>

<div id="components-list" class="craft-items-section">
    <ol style="min-height: 35px" class="inventory-list craft-items-list">
        {{#unless components.length}}
        <p class="items-placeholder">{{localize "ANVIL_AND_ARCANA.Recipe.ComponentsPlaceholder"}}</p>
        {{/unless}}

        {{#if components.length}}
        {{> modules/anvil-and-arcana-wfrp4/templates/_shared/items-list.hbs items=components}}
        {{/if}}
    </ol>
</div>