<header class="item-header">
    <h1>
        <input name="name" class="item-header item-name" type="text" value="{{item.name}}" placeholder="{{localize 'Name'}}"/>
    </h1>
</header>

<img class="item-image" src="{{item.img}}" data-edit="img"  />

<div class="item-details">
    <label class="label-text">{{localize "Type"}}</label>
    <div class="input-box category input-container">
        {{localize category}}
    </div>
</div>

<div class="item-details">
    <label class="label-text">{{localize "ANVIL_AND_ARCANA.Recipe.SelectedSkill"}}</label>
    <div class="input-container">
        <select name="system.check.skill">
            {{#selectOptions check.skills selected=check.selectedSkill}}
            {{/selectOptions}}
        </select>
    </div>
</div>

<div class="item-details">
    <label class="label-text">{{localize "ANVIL_AND_ARCANA.Recipe.CheckTypeLabel"}}</label>
    <div class="input-container">
        <select name="system.check.type">
            {{#selectOptions check.checkTypes selected=check.selectedType}}
            {{/selectOptions}}
        </select>
    </div>
</div>

{{#ifEquals item.system.check.type "Simple"}}
    <div class="item-details">
        <label class="label-text">{{localize "ANVIL_AND_ARCANA.Recipe.DifficultyModifier.Label"}}</label>
        <div class="input-box category input-container">
            <input name="system.check.simple.modifier" value="{{item.system.check.simple.modifier}}" class="input-details" style="width: 100%;text-align: center;margin-top: -5px;background: none;box-shadow: none !important;border: none;" placeholder="{{localize "ANVIL_AND_ARCANA.Recipe.DifficultyModifier.Placeholder"}}"/>
        </div>
    </div>
{{/ifEquals}}

{{#ifEquals item.system.check.type "Extended"}}
    <div class="item-details">
        <label class="label-text">{{localize "ANVIL_AND_ARCANA.Recipe.DifficultyModifier.Label"}}</label>
        <div class="input-container">
            <select name="system.check.extended.difficulty">
                {{#selectOptions check.extended.allDifficulties selected=check.extended.selectedDifficulty}}
                {{/selectOptions}}
            </select>
        </div>
    </div>
    <div class="item-details">
        <label class="label-text">{{localize "ANVIL_AND_ARCANA.Recipe.ExtendedCheck.SuccessLevels"}}</label>
        <div class="input-box category input-container">
            <input name="system.check.extended.sl" value="{{item.system.check.extended.sl}}" class="input-details" style="width: 100%;text-align: center;margin-top: -5px;background: none;box-shadow: none !important;border: none;" placeholder="{{localize "ANVIL_AND_ARCANA.Recipe.ExtendedCheck.SuccessLevels"}}"/>
        </div>
    </div>
{{/ifEquals}}